.center {
    text-align: center;
}

.photo {
    border-radius: 50%;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.subtitle {
    font-size: 0.6em;
    margin-left: 20px;
}

.card img {
    height: 50%;
    width: auto;
}

/* ページトップへ */
.pagetop{
    display: none;
    position: fixed;
    right: 15px;
    bottom: 40px;
}
.pagetop a{
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #43FF6B;
    border-radius: 50%;
    line-height: 50px;
}
.pagetop a i{
    font-size: 20px;
    color:#fff;
    line-height: 50px;
}

/* ボタン */
.btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    border: 2px solid #009943;
    font-size: 16px;
    color: #009943;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }
  
  .btn-border:hover {
    background-color: #43FF6B;
    border-color: #43FF6B;
    color: #FFF;
  }

/* リンク */
.cp_link {
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
	color: #009943;
}
.cp_link::before,
.cp_link::after {
	position: absolute;
	content: '';
	width: 0;
	height: 1px;
	background-color: #009943;
	transition: .3s;
}
.cp_link::before {
	top: 0;
	left: 0;
}
.cp_link::after {
	bottom: 0;
	right: 0;
}
.cp_link:hover::before,
.cp_link:hover::after {
	width: 100%;
}

/* 見出し・タイトル */
h2 {
  position: relative;
  padding: 1.1rem;
  text-align: center;
}

h2:before {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #FF773E;
}

/* 小見出し */
h3 {
    position: relative;
    padding: 1rem .5rem;
  }
  
  h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    background: #FF773E;
  }

/* カードデザイン */
/* カード本体 */
.cards {
    position: relative;
    cursor: pointer;
  }
  
  /* 擬似要素とpadding-topでカードの高さを指定 */
  .cards::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  /* カード内の画像 */
  .cards img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }
  
  /* カード裏面・表面の共通スタイル */
  .cards .back,
  .cards .front {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
    backface-visibility: hidden;
  }
  
  /* カード表面のスタイル */
  .cards .front {
    transform: rotateY(-180deg);
  }
  
  /* ホバー時のカード裏面 */
  .cards:hover .back {
    transform: rotateY(180deg);
  }
  
  /* ホバー時のカード表面 */
  .cards:hover .front {
    transform: rotateY(0);
  }

/* テーブル */
table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr{
    border-bottom: solid 2px white;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #90EE90;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  
table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #90EE90;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 20px;
  }

/* リスト */
ul.cp_list {
	padding:0.5em;
	list-style-type:none;
}
ul.cp_list li {
	position:relative;
	padding: 0em 0.3em 0.3em 1.3em;
}
ul.cp_list li:after,ul.cp_list li:before {
	position:absolute;
	content:'';
	display:block;
	background: #FFC107;
	top: 0.43em;
	left: 0.5em;
	height: 11px;
	width: 4px;
	border-radius: 10px;
	transform: rotate(45deg);
}
ul.cp_list li:before {
	top: 0.6em;
	left: 0.2em;
	height:8px;
	transform:rotate(-45deg);
}

/* アコーディオンメニュー */
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa {
	border-top: 1px solid #1b2538;
}
.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1px;
	color: #1b2538;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}

.cp_qa .cp_actab label {
	font-weight: bold;
	line-height: 1.6;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	padding: 1em 2em 1em 1em;
	cursor: pointer;
	border-bottom: 1px solid #1b2538;
}
.cp_qa .cp_actab label:hover {
	color: #009943;
}

.cp_qa .cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease;
	        transition: max-height 0.5s ease;
	background: #E6FFE9;
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em;
}

.cp_qa .cp_actab input:checked ~ label {
	color: #00838F;
}

.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
}

.cp_qa .cp_actab label::after {
	line-height: 1.6;
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 3em;
	margin-top: -12.5px;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
}
.cp_qa .cp_actab input[type=checkbox] + label::after {
	content: '\025bc';
}
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

/* 経歴デザイン */
.cp_timeline02 {
	position: relative;
	margin: 3em auto;
	overflow: auto;
    width: 85%;
}
.cp_timeline02:before {
	position: absolute;
	left: 50%;
	width: 5px;
	height: 100%;
	content: '';
	background: #EF6C00;
}
.cp_timeline02 h4 {
	position: relative;
	clear: both;
	max-width: 6em;
	margin: 0 auto 1em;
	padding: .1em;
	text-align: center;
	background: #FFC107;
	border-radius: 8px;
	font-size: 1.5em;
    font-weight: bold;
}
.cp_timeline02 ul {
	max-width: calc(100% - 2em);
	margin: 0;
	padding: 0 0 0 2em;
	list-style: none;
}
.cp_timeline02 li {
	position: relative;
	margin-bottom: 1em;
	padding: 1em;
	background: #E6FFE9;
	width: 42%;
	border-radius: 8px;
	border: solid 1px #90EE90;
}
.cp_timeline02 li:before {
	position: absolute;
	top: 12px;
	left: -14px;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #E6FFE9 transparent transparent;
	z-index: 0;
}
.cp_timeline02 li:after {
	position: absolute;
	top: 12px;
	left: -16px;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #90EE90 transparent transparent;
 	z-index: -1;
}
.cp_timeline02 li:nth-child(even) {
	float: right;
	margin-top: 2em;
}
.cp_timeline02 li:nth-child(odd) {
	float: left;
}
.cp_timeline02 li:nth-child(odd):before {
	right: -14px;
	left: auto;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #E6FFE9;
}
.cp_timeline02 li:nth-child(odd):after {
	position: absolute;
	right: -16px;
	left: auto;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #90EE90;
 	z-index: -1;
}
.cp_timeline02 li:nth-of-type(2n+1) {
	clear: both;
}
.cp_timeline02 li .flag {
	padding: 0;
	margin: 0;
	font-weight: bold;
    border-bottom: solid 3px #009943;
	font-size: 1.2em;
}
.cp_timeline02 li .desc {
	font-size: 1em;
	line-height: 1.5em;
    margin-top: 10px;
}
.cp_timeline02 li .time {
	font-size: 0.8em;
	color: #009943;
	font-weight: bold;
    display:inline;
}
@media only screen and (max-width: 767px) {
	.cp_timeline02:before {
		left: 0;
	}
	.cp_timeline02 ul {
		z-index: 1;
		padding: 0 0 0 1.5em;
	}
	.cp_timeline02 li {
		width: 100%;
	}
	.cp_timeline02 li:nth-child(even),
	.cp_timeline02 li:nth-child(odd) {
		float: none;
	}
	.cp_timeline02 li:nth-child(odd):before {
		right: auto;
		left: -14px;
		border-width: 10px 15px 10px 0;
		border-color: transparent #E6FFE9 transparent transparent;
	}
	.cp_timeline02 li:nth-child(odd)::after {
		right: auto;
		left: -16px;
		border-width: 10px 15px 10px 0;
		border-color: transparent #90EE90 transparent transparent;
	}
}

/* たけのこアニメーション */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #43FF6B;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 30px;
    height: 30px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    background-image: url(./takenoko02.png);
    /* background-color: #FF914D; */
    background-size: contain;
    left: 25%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: blue; */
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: blueviolet; */
    left: 70%;
    width: 70px;
    height: 70px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: brown; */
    left: 40%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: crimson; */
    left: 65%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: cyan; */
    left: 55%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: deeppink; */
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: green; */
    left: 50%;
    width: 75px;
    height: 75px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: yellowgreen; */
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    background-image: url(./takenoko02.png);
    background-size: contain;
    /* background-color: tomato; */
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}