/* ページトップへ */
.pagetop{
    display: none;
    position: fixed;
    right: 15px;
    bottom: 40px;
}
.pagetop a{
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #43FF6B;
    border-radius: 50%;
    line-height: 50px;
}
.pagetop a i{
    font-size: 20px;
    color:#fff;
    line-height: 50px;
}

/* ボタン */
.btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    border: 2px solid #43FF6B;
    font-size: 16px;
    color: #43FF6B;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }
  
  .btn-border:hover {
    background-color: #43FF6B;
    border-color: #43FF6B;
    color: #FFF;
  }

/* 見出し部分 */
h2 {
  position: relative;
  padding: 1.1rem;
  text-align: center;
}

h2:before {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: red;
}
  
/* たけのこアニメーション */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #43FF6B;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 30px;
    height: 30px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    background-image: url(./takenoko.png);
    /* background-color: #FF914D; */
    background-size: contain;
    left: 25%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: blue; */
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: blueviolet; */
    left: 70%;
    width: 70px;
    height: 70px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: brown; */
    left: 40%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: crimson; */
    left: 65%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: cyan; */
    left: 55%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: deeppink; */
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: green; */
    left: 50%;
    width: 75px;
    height: 75px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: yellowgreen; */
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    background-image: url(./takenoko.png);
    background-size: contain;
    /* background-color: tomato; */
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}